.place__website_url-heading {  
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.7;
letter-spacing: 2px;
color: #AAAAAA;
margin-top: 0;
margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
    .place__website_url-heading {
        line-height: 1;    
  }
  }
  
  @media screen and (max-width: 768px) {
    .place__website_url-heading {
        margin-left: 16px;   
  }
  }   